@import url(/fonts/stylesheet.css);
@import url(../node_modules/bootstrap/scss/bootstrap.scss);

body {
  font-family: "Open Sans";
  font-style: normal;
  overflow-x: hidden;
}
.modal-content {
  form {
    label {
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: #000000;
    }
    input {
      width: 100%;
      height: 36px;
      border: 1px solid #969696;
      border-radius: 5px;
      background-color: transparent;
    }
    textarea {
      height: 132px;
      border: 1px solid #969696;
      border-radius: 5px;
      resize: none;
      background-color: transparent;
    }
    .btn-black {
      background: #252525;
      border-radius: 10px;

      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;

      &:focus {
        background: inherit;
        outline: 5px solid #252525;
        color: #252525;
      }
    }
  }
}
.modal-content {
  background: #ffffff;
  border-radius: 10px;
  .modal-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #010101;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);

  .nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
  }

  ul {
    max-width: 976px;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .media {
    width: 141px;
    justify-content: space-between;
  }
  .mobile-menu {
    background: #2ecc71;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  }

  .navbar-btn {
    background-color: inherit;
    border: none;
    &:focus {
      outline: 2px solid #2ecc71;
      box-shadow: none;
    }
  }
}

.preview {
  background-color: #2ecc71;
  h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 71px;
    color: #ffffff;
    margin-bottom: 28px;
  }
  p {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;

    margin-bottom: 47px;
  }
  .btn {
    width: 255px;
    height: 56px;

    background: #252525;
    border-radius: 10px;

    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;

    &:focus {
      background: inherit;
      outline: 5px solid #252525;
      color: #252525;
    }
  }
}

.securityBlock {
  .row {
    .title-header {
      font-weight: 600;
      font-size: 45px;
      line-height: 61px;
      color: #000000;
      padding: 30px 0;
    }
    .title-subheader {
      font-weight: 400;
      font-size: 25px;
      line-height: 34px;
      color: #000000;

      margin-bottom: 55px;
    }

    .email-input {
      height: 47px;
      border: 1px solid #969696;
      border-radius: 10px;
    }

    .btn {
      height: 47px;
      background: #2dc66e;
      border-radius: 10px;

      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;

      &:focus {
        background: inherit;
        outline: 5px solid #2dc66e;
        color: #2ecc71;
      }
    }
  }
  .row {
    img {
      height: 330px;
    }
    h5 {
      font-weight: 600;
      font-size: 30px;
      line-height: 41px;
      color: #000000;
      margin-bottom: 17px;
    }
    p {
      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
      color: #000000;
      margin: 0;
    }
  }
}

.quoteBlock {
  background-color: #252525;
  padding: 50px 0;
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 32px;
    line-height: 44px;
    color: #2fcc71;
  }
  figcaption {
    font-size: 32px;
    line-height: 44px;
    color: #2fcc71;
  }
}

.productBlock {
  background-color: white;
  h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;

    color: #000000;
  }
  .card {
    width: 280px;
    border: none;
    text-align: center;
    .card-title {
      margin-bottom: 25px;

      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      color: #252525;
    }
    .card-text {
      margin-bottom: 91px;

      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
      color: #000000;
    }
  }
}

.benefits {
  background-color: #f7f7f7;
  clip-path: polygon(0 0, 100% 68.5px, 100% calc(100% - 68.5px), 0% 100%);
  h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 36px;
    color: #000000;
  }
  .card {
    height: 314px;
    background: #ffffff;
    border: 1px solid #2ecc71;
    box-sizing: border-box;
    border-radius: 10px;
    img {
      width: 62px;
      height: 62px;
    }
    h3 {
      font-weight: 700;
      font-size: 25px;
      line-height: 34px;
      color: #000000;
    }
  }
}

.blog {
  background-color: white;
  h2 {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #000000;
  }
  h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
  }
  .btn-green {
    background: inherit;
    border: 5px solid #2dc66e;
    border-radius: 10px;

    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #2ecc71;

    &:focus {
      background: #2dc66e;
      color: #ffffff;
    }
  }
}

.contact-form {
  background-color: #f7f7f7;
  .info-text {
    h2 {
      font-weight: 600;
      font-size: 45px;
      line-height: 61px;
      color: #000000;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;

      color: #000000;
      a {
        color: inherit;
        text-decoration: none;
        color: #2dc66e;
        font-weight: 700;
      }
    }
  }

  form {
    label {
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: #000000;
    }
    input {
      width: 100%;
      height: 36px;
      border: 1px solid #969696;
      border-radius: 5px;
      background-color: transparent;
    }
    textarea {
      height: 132px;
      border: 1px solid #969696;
      border-radius: 5px;
      resize: none;
      background-color: transparent;
    }
    .btn {
      background: #252525;
      border-radius: 10px;

      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;

      &:focus {
        background: inherit;
        outline: 5px solid #252525;
        color: #252525;
      }
    }
  }
}

.footer {
  .nav-link {
    padding: 0;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
  }
  .media {
    width: 180px;
    padding: 0;

    display: flex;
    justify-content: space-between;
  }
  hr {
    border: 1px solid #4a4a4a;
  }
  i {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}
